<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <title>Email Spam Classifier</title>
</head>

<body style="background:black; color:white;" >

  <!-- Navbar -->

  <div class="container">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="text-align: center;">Email Spam Classifier</a>
        <a class="navbar-brand" href="#" style="text-align: center;">Created by Pratham Singh Parihar</a>
      </div>
    </nav>
  </div>



  <!-- Show -->
  <div class="container">
    <h3 class=" mt-3" style="text-align: center;">Email Spam Classifier's result shown below</h3>
    <p class="navbar-brand" style="text-align: center;">Thanks for using my application..</p>
    <a href="/">
       <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="text-align: center;">Go Back</button> -->
    </a>

    <!-- <img src="{{url_for('static', filename= 'spam.webp')}}"> -->

  </div>


  <!-- Result -->
  <div class="results">
    {% if prediction==1 %}
    <h1 style="text-align: center;">Prediction: <span class='danger'>Gotcha! This is a SPAM message.</span></h1>
    <!-- <img class="gif" src="{{ url_for('static', filename='spam.webp') }}" alt="SPAM Image">-->
    {% elif prediction==0 %}
    <h1 style="text-align: center;">Prediction: <span class='safe'>Great! This is NOT a spam message.</span></h1>
    <!-- <img class="gif" src="{{ url_for('static', filename='not-spam.webp') }}" alt="Not a spam image">-->
    {% endif %}
  </div>

  <!-- Footer -->
  <footer style="background:black; color:white; padding:1px 2px;">

    <div style="text-align: center;">
      <a href="/">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go Back</button>
      </a>
    </div>

  </footer>

</body>

</html>